img {
  position: absolute;
  top: 15%;
  left: 35%;
  height: 300px;
  width: 300px;
  border: solid black;
}

h2 {
  text-align: center;
}

a:hover {
  opacity: 0.4;
}

a:focus {
  outline: none;
}
